// Fonts
@import 'gfont';

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap-grid';

//Vuetify
@import "~vuetify/dist/vuetify.min.css";

//c3js css
@import "../css/c3.min.css";


span.application-menu-title {
  font-size: 1.7em;
  font-weight: bold;
  color: #194b92;
}

img.qr-code-icon {
  width: auto;
  height: 100%;
  border-radius: 0;
  vertical-align: top;
}

.application-menu-element {

  border: 1px solid #e2f0ff;
  margin: 1px;
  height: 99%;
  cursor: pointer;

  &:hover {
    border: 1px solid $success-color;
    .application-menu-element-logo {
      color: $success-color;
    }

    .application-menu-element-text {
      color: $success-color;
    }

  }

  .application-menu-element-logo {
    font-size: 5em;
    color: $primary-color;
    text-align: center;
  }

  .application-menu-element-text {
    text-align: center;
    font-size: 1.3em;
    color: $primary-color;
  }

}

.new-button {
  font-size: 2em;
}

.edit-dialog {
  display: inline-flex;
}